body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 41, 42);
}

* {
    box-sizing: border-box;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    padding-top: 30px;
    background-color: rgb(42, 71, 93);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.credentials {
    width: 90%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: rgb(40, 41, 42);
    color: white;
}

#loginButton {
    background-color: rgb(52, 101, 138);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
}

#loginButton:hover {
    background-color: rgb(80, 80, 80);
}