body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 41, 42);
}

* {
    box-sizing: border-box;
}

.user-data-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(42, 71, 93);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.user-data {
    width: 90%;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: rgb(40, 41, 42);
    color: white;
}

.user-button { 
    display: inline-block;
    width: 90%;
    background-color: rgb(52, 101, 138);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

.user-button:hover {
    background-color: rgb(80, 80, 80);
}